:root{
    --section-card-color:#2C73B6;
    --select-card-color:#3A92E5;
    --button-color-posite:#52CC2D;
    --color-fondo:#FFFFFF;
    --color-fondo-oscuro:#000000;
    --body-color:#ADD8E6;
    --color-sombra:#999;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color:var(--body-color);
}
.container{
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    box-shadow: 0px 0.5px 60px 10px var(--color-sombra);
    border-radius: 25px;
}
.item,.card{
   display: grid;
   width: 100%;
   height: 100%;
}

.item{
    z-index: 1;
    background-color: var(--color-fondo);
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
    grid-template-rows: 10% repeat(4,22.5%);
}
.card{
    background-color: var(--section-card-color);
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px;
}

.item-articulo,.item-total{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: 90%;
}


.item-articulo{
    display: grid;
    grid-template-columns: 30% 55% 15%;
   background-color: var(--color-fondo);
   border-top: 1px solid var(--color-sombra);
}

.item-articulo__img{
    height: 100%;
    width: 90%;
}

.item-articulo__des{
    display: grid;
    grid-column: auto;
    text-align: left;
}

.item-articulo__des-title,.cost{
    margin: 0;
    padding: 0;
}

.item-articulo__cost{
   display: flex;
   align-items: flex-end;
   justify-content: center;
   color: teal;
}

.item-total{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--color-fondo);
    border-top: 1px solid var(--color-fondo-oscuro);
}
.item-total__datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.item-total__suma{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.form{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 25% 45% 20%;
}
.form-title{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-title__des,.form-data__des{
    color: var(--color-fondo);
    padding: 0;
    margin: 0;
    display: inline-block;
}
/*select desplegable*/
.form-title__option {
display: block;
font-family: 'Verdana', sans-serif;
color:var(--color-fondo);
background-color: var(--select-card-color);
width: 40%;
max-width: 100%; 
box-sizing: border-box;
box-shadow: var(--color-fondo);
border-radius: .3em;
text-align-last: center;/*centra el texto*/
appearance: none;
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
background-size: .65em auto, 100%;
border-color: var(--select-card-color);
}
.form-title__option::-ms-expand {
display: none;
}
.form-title__option:focus {
color: var(--select-card-color);
background-color: var(--color-fondo); 
outline: none;
}
.form-title__option option {
font-weight:normal;
color: var(--select-card-color);
background-color:var(--color-fondo); 
}

.form-card{
    height: 100%;
    width: 100%;
}
.form-card__img{
    height: 100%;
    width: 70%;   
}
.form-data{
    display: grid;
    grid-template-rows: 10% repeat(3,25%) 15%;
    grid-template-columns: 5% 42% 6% 42% 5%;
    text-align: left;
}
.form-data__num,.form-data__hold,.form-data__exp,.form-data__cvc{
    display: grid;
    grid-template-rows: 40% 50% 10%;
}
.form-data__num{
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end: 3;
}
.form-data__hold{
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start:3;
    grid-row-end: 4;
}
.form-data__exp{
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end: 5;
}
.form-data__cvc{
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start:4;
    grid-row-end: 5;
}
.form-datos__input{
    height: 100%;
    width: 100%;
    background-color: var(--select-card-color);
    border: none;
    border-radius: .3em;
}
.form-datos__input::-ms-expand {
display: none;
}
.form-datos__input:focus {
color: var(--select-card-color);
background-color:var(--color-fondo); 
outline: none;
}
.form-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-submit{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.form-submit__button{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    color: var(--color-fondo);
    height: 40%;
    width: 100%;
    background-color: var(--button-color-posite);
    border: none;
    border-radius: .5em;
    line-height: 300%;
}
.form-submit__button:focus{
    background-color:var(--button-color-posite);
    color: var(--color-fondo);
    outline: var(--color-fondo);
}
.form-submit__button:hover{
    background-color:var(--color-fondo);
    color: var(--button-color-posite);
}
.form-data__des{
    height:50%;
    display:inline-block;
    margin-top: 5px;
}

@media only screen and (max-width: 1200px) {
    .container{
        text-align: center;
        height: 100%;
        width: 100%;
    }
    .container-center{
        width: 60%;
        height: 80%;
        box-shadow: 0px 0.5px 60px 10px var(--color-sombra);
        border-radius: 25px;
    }
    .item-articulo__des-title{
        font-size: small;
    }
    .form{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 10% 15% 55% 20%;
    }
    .form-card__img{
        height: 100%;
        width: 40%;   
    }

}
@media only screen and (max-width: 1010px)  {
    .container-center{
      width: 80%;
    }
}
@media only screen and (max-width: 770px)  {
    .container-center{
      width: 100%;
    }
}
@media only screen and (max-width: 630px)  {

   body{
       height:140vh ;
   }
   .item{
    border-top-left-radius: 0;
    border-bottom-left-radius:0;;
    }
   .card{
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
    }

   .form-submit__button{
    line-height: 250%;
   }
   .item-articulo__des-title{
    font-size: medium;
    }
    .form-card__img{
        width: 30%;
    }
    .container-center{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        box-shadow: 0px 0.5px 60px 10px var(--color-sombra);
    }
}
@media only screen and (max-width: 480px)  {
    body{
        height: 140vh;
        width: 480px;
    }

}